:root{
    --menu-bg: rgba(255,255,255,0.8);
}

html,
body {
    height: 100%;
    margin: 0;
}

#map {
    width: 100%;
    height: 100%;
}
.menu {
    padding: 20px;
    background: var(--menu-bg);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 27vw;
    height: 95vh;
    overflow: auto;
}
.mapButton {
    padding: 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    cursor: pointer;
}
.mapButton h4 {
    margin: 5px;
    color: #777;
}
.mapButton:hover{
    background: rgba(255,255,255,0.6);
    border: 1px solid white;
}
.mapButton:hover h4{
    color: white;
}
.text-label{
    opacity: 0.8;
    color: white;
    background: rgba(0,0,0,0.5);
    position: absolute;
    width: 25px;
    height: 25px;
    box-shadow: 0 0 0;
    text-align: center;
    margin: 0;
    border: 1px solid black;
}
.text-label:before{
    border: 0px;
}

.range-value{
    width: 100%;
    text-align: end;
    padding-right: 5px;
    font-style: italic;
}

.submitBtn{
    margin-top: 25px;
}
.switch{
    padding-bottom: 20px;
}

#menuNavContent{
    padding: 1rem;
}
.cust-nav{
    border-bottom: 2px solid white;
}

.center{
    text-align: center;
}
.sideBtn {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    border-radius: 4px;
    margin-left: 12px !important;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
}

label {
    font-weight: bolder;
}

.Republican:checked{
    background-color: red;
    border-color:red;
}

.modal-link {
    cursor: pointer;
}

input[type=checkbox]:not(:checked)+label{
    color: gray;
}
/*
.list-group:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.list-group:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
*/
.list-group-item{
    color: black !important;
    background: rgba(255,255,255,0.8);
}

.data-table .row .col:first-child{
    font-weight: bolder;
    text-align: end;
}

.tabContentTitle{
    border-bottom: 2px solid darkgray;
}

.list-group-flush .list-group-item{
    background: rgba(255,255,255,0);
}

.list-group-item:hover{
    background: rgba(255,255,255,1);
}

.list-group-flush .list-group-item:not(:last-child){
    border-color: black;
}

input[type='range']:hover::-webkit-slider-runnable-track{
    opacity: 0.8;
    filter: brightness(120%);
}